*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

html,body{
    height: auto;
    width: auto;
}
div{
    background-color: rgb(78, 12, 82);
    font-size: large;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
#box{
    background-color: rgb(29, 96, 218);
    font-size: medium;
    font-weight: 300;
    font-style: italic;
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }  
    
    #car1{
        width: 200px;
        height: 300px;
        background-color: red;
        text-align: left;
    }

    #car2{
        position: absolute;
        left: 50%;
        width: 240px;
        height: 370px;
        background-color: green;
    }

    #car3{
        width: 290px;
        height: 450px;
        background-color: blue;
    }

    #box1{
        width: 400px;
        height: 400px;
        background-color: red;
        position: relative;
    }

    #small{
        width: 40px;
        height: 40px;
        background-color: yellow;
        position: absolute;
        left: 50%;

    }

    #homepage{
        width:100% ;
        height: 3000px ;
        background-color: #222;
    }

    #side{
        position: fixed;
        right: 0;
        top: 50%;
        width: 100px;
        height: 400px;
    }

    #parent{
        width:100% ;
        background-color: aliceblue;
    }

    #child{
        width: 1005;
        height: 300px;
        background-color: rgb(227, 92, 92);
    }

    #child2{
        width: 100%;
        height: 2000px;
        background-color: #555;
    }

    #sticky{
        position: sticky;
        top: 10%;
        width: 300px;
        height: 200px;
        background-color: rgb(249, 81, 9); 
    }