* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

.container{
  width: 100%;
  padding: 1rem;
}

main{
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 70px 180px 1fr;
  grid-template-areas:
    "header header"
    "aside section"
    "footer footer";
}

header{
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header button{
  font-weight: 400;
  line-height: 1.42857;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background-color: royalblue;
  color: white;
  cursor: pointer;
  margin: 5px;
}

header button:hover{
  background-color: dodgerblue;
}

 aside{
  grid-area: aside;
  font-size: 2rem;
  font-weight: 100;
  background-color: rgb(244, 241, 241);
  display: flex;
align-items: center;
  justify-content: center;
}

 section{
  padding: 5px;
  grid-area: section;
  background-color: rgb(244, 241, 241);

}

section a{  
  font-weight: 50;
  font-size: 1.5rem;
  color: #3f3f3f;
  display: flex;
  align-items: center;
  justify-content: center;
}

section button{
  margin-top: 20px;
  font-weight: 400;
  line-height: 1.42857;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background-color: royalblue;
  transition: transform 200ms ease, background-color 200ms;
  will-change: transform;
  color: white;
  cursor: pointer;
}

section button:hover{
  background-color: dodgerblue;
}

#button{
  background-color: royalblue;
  transition: transform 200ms ease, background-color 200ms;
  will-change: transform;
  color: white;
  cursor: pointer;
}

#button:hover{
  background-color: white;
  color: royalblue;
  border: 1px solid royalblue;
}

 footer{
  grid-area: footer;
  background-color: rgb(244, 241, 241);
}

footer img{
  padding: 8px;
  border-radius: 50px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.grid{
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

label{
  font-size: 3.5rem;
  font-weight: 600;
}

h5{
  font-size: 1rem;
  font-weight: 300;
  color: #3f3f3f;
}

#about{
  background-color: rgb(244, 241, 241);
  padding: 5px;
  border-radius: 1rem;
 display: flex;
 flex-direction: row;
}
           
#random{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column; 
  gap: 10rem;
  align-items: flex-start;
}

#random button{
  background-color: transparent;
  border: 1px solid black;
  color: black;
  border-radius: 1rem;
  padding: 10px 20px;
  cursor: pointer;
  margin: 1rem;
}

.bio{
  display: flex;
  flex-direction: column;
  align-items: space-evenly; 
  justify-content: flex-end;
  gap: 2rem;
  padding: 10px;
}

.bio h2{
  font-size: 2rem;
}

.bio h5{
  font-size: 19px;
  font-weight: 100;
  color: #3f3f3f;
  line-height: 1.5;
}
#img  img{
border-radius: 3rem;
padding: 8px;
width: 35rem;
height: auto;
}

button{
  background-color: transparent;
  border: 1px solid black;
  color: black;
  margin-top: 1rem;
  border-radius: 1rem;
  padding: 10px 20px;
  cursor: pointer;
  align-items: flex-start;
}

.sample{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1.5;
}

.sample h2{
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2;
}

.sample h5{
  font-size: 1.3rem;
  font-weight: 100;
  color: #3f3f3f;
}

.copy{
  display: grid;
  grid-template-columns: 1fr  8rem 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "img icon text"
             "img line link"
             "img why filler"
             "img flash dry";
} 

#img{
  grid-area: img;
}

.copy button{
  width: 40px;
  height: 40px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 70%;
  background-color: gray;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
  margin-left: 3rem;
}

.copy button:active{
    background-color: dodgerblue;
  }

  #icon{
    grid-area: icon;
  }

  #line{
    grid-area: line;
  }

  #why{
    grid-area: why;
  }

  #flash{
    grid-area: flash;
  }

#text {
  grid-area: text;
  color: #3f3f3f;
}

 h3{
  color: #1a1a1a;
  font-size: 18px;
  font-weight: 600;
}

 h4 {
  color: #1a1a1a;
  line-height: 2;
}  

p{
  line-height: 2;
}

#link{
  grid-area: link;
  color: #3f3f3f;
}

#filler{
  grid-area: filler;
  color: #3f3f3f;
}

#dry {
  grid-area: dry;
  color: #3f3f3f;
}

figure{
  display: flex;
  flex-direction: row-reverse;
}

figure img{
  border-radius: 3rem;
  margin-top: 1rem;
  gap: 1rem;
  width: 45%;
  height: auto;
}

#logo img{
  margin-right: 30rem;
  margin-top: 3rem;
  width: 11rem;
  height: auto;
} 

#logo .icon{
  margin-left: 30rem;
  color: royalblue;
}

.icon i{
  width: 30px;
  height: auto;
}

#logo p{
  font-size: 22px;
  line-height: 2;
  font-weight: 300;
  margin-top: 1.5rem;
}

#logo h3{
  font-size: 1.5rem;
  color: gray;
  margin-top: 2rem;
} 

.contact-container {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}

.contact-info {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  font-size: 2rem;
}

.contact-info a{
  text-decoration: none;
  color: gray;
}

.social-icons a{
  text-decoration: none;
  color: #0c0c0c;
  border-radius: 50%;
  padding: 3px 6px;
  width: 55px;
  height: 55px;
  border: 1px solid #0c0c0c;
  margin: 10px;
}

.map-section img {
  width: 100%;
  border-radius: 3rem;
}



